<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<div>
  <%= link_to "Create Event", new_event_path  %>
</div>
<br>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div
